<div>
	<table style="width:80%">
		<tr>
			<td style="width:130px">
				Search:
			</td>
			<td>
				<input ng-model="name">
			</td>
		</tr>
		<tr>
			<td colspan="3" style="color: #ff0000">
				<custommessage></custommessage>
			</td>
		</tr>
		<tr>
			<td>
				Student ID
			</td>
			<td>
				Name
			</td>
			<td>
				Address
			</td>
			<td>
				Action
			</td>
		</tr>
		<tr ng-repeat="student in students | filter:name">
			<td>
				{{student.studentId}}
			</td>
			<td>
				{{student.name}}
			</td>
			<td>
				{{student.address}}
			</td>
			<td>
				<a href="#/student/{{student.studentId}}">View</a>
			</td>
		</tr>
	</table>
</div>